/*https://kyrsthensley.github.io/webdev2/homepage/index.html*/

body {
    width: 60rem;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(images/peace.jpg);
}

header {
   
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);

}

 
img {width: 200px;}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: seagreen;
    font-size: 3em;
    margin: 0;
    
}

#me {
    display: flex;
}
p {
    padding-left: 1em;
}

#know {
    display: flex;
}
.love {
    padding: 1em;
}

h3 {
    margin:auto;
}

li {
    list-style-type: none;
}


footer {
    clear: both;
    background-color: rgba(255, 255, 255, 0.8);
}