
/* width: 800px;
    margin: auto;
    
    font-family: 'Manrope', sans-serif; font-weight -600 or 400
    font-family: degular,sans-serif;
font-weight: 400;
font-style: normal;   OR italic

font-family: 'Shrikhand', cursive;

Photo sizes: 
1900x430



*/
:root {
    --font-reg: 'Manrope', sans-serif;
    --font-header: 'Shrikhand', cursive;
  }


body {
    margin: 0;
    background-color: #e6e1d9;
}

p {
    font-family: var(--font-reg);
    font-weight: 400;
}

h2 {
    font-family: var(--font-header);
    font-weight: 400;
    font-style: italic;
    
}


header{
    font-family: var(--font-reg);
    font-weight: 600;
    border-bottom: 1px solid black;  
    position:fixed;
    width: 100vw;
    background-color: #e6e1d9; 
    color: black;
    z-index: 900;
}
#head {
    display: flex;
    padding-left: 3em;
    padding-right: 3em;
    justify-content: space-between;
}
h1 {
    margin: 0;
}
.desoi {
    font-style: normal;
    font-family: var(--font-reg);
}
ul {
    list-style-type: none;
    display: flex;
    text-decoration: none;
    padding: 0px;
}
.head1 {
    text-align: left; 
}
.li1 {
    padding-right: 2em;
    font-size: 1.4vmin;
}
.head2 {
    text-align: right;
}
.li2 {
    padding-left: 2em;
    font-size: 1.4vmin;
}
a{
    text-decoration: none;
    color: black;
}
.logo {
    text-align: center;
}
.cart {
    width: 1vw;
}
/*                                                                                                                                  Section 1*/
.div1 {
    display: flex;
    border-bottom: 1px solid black;
}
.right {
    width: 50%;
}
.left {
    width: 50%;
    border-right: 1px solid black ;
}
.img1 {
    max-width: 100%;
    max-height: 100%;
}
.img2 {
    max-width: 100%;
    max-height: 100%;
    z-index: -1;
}
.text1 {
    text-align: center;
    padding-top: 25em;
    z-index: 2;
    position: absolute;
    padding-left: 10em;
}
.txt {
    font-family: var(--font-reg);
    font-size: .5 vmin;
    font-weight: 600;
}
h1 {
    font-family: var(--font-header);
    font-weight: 400;
    font-style: italic;
    font-size: 6vmin;
    text-align: center;
}
/*                                                                                                                                  Section 2*/
.div2 {
    display: flex;
    border-bottom: 1px solid black;
}
.q1 {
    width: 33.3333%;
    text-align: center;
}
.q2 {
    width: 33.3333%;
    text-align: center;
}
.q3 {
    width: 33.3333%;
    text-align: center;
}
.qs {
    padding: 5em;
}
.logoq {
    width: 7vw;
}
h3 {
    font-family: var(--font-header);
    font-size: 3em;
    color: brown;
    margin: 0;
}
/*                                                                                                                                  Section 3*/
.div3 {
    height: 100px;
    border-bottom: 1px solid black;
}
/*                                                                                                                                  Section 4*/
.div4 {
    display: flex;
    border-bottom: 1px solid black;
}
.pro1 {
    text-align: center;
    width:25%;
    border-right: 1px solid black;
}
.pro2 {
    text-align: center;
    width:25%;
    border-right: 1px solid black;
}
.pro3 {
    text-align: center;
    width:25%;
    border-right: 1px solid black;
}
.pro4 {
    text-align: center;
    width:25%;
}
.bodycopy {
    font-family: var(--font-reg);
    font-size: 1.5vmin;
}
.shopnow {
    font-family: var(--font-reg);
    font-weight: 600;
    font-size: 1.5vmin;
}
h4 {
    font-family: var(--font-header);
    font-size: 3vmin;
}
.productimg {
    max-width: 100%;
    max-height: 100%;
}
.bloby {
    margin-top: -40em;
    display: none;
}
.pro1:hover .bloby{
    display: block; 
}
/*                                                                                                                                  Section 5*/
.div5 {
    background-image: url(images/banner1.png);
    background-repeat: no-repeat;
    border-bottom: 1px solid black;
    text-align: center;
    color: white;
}

.div5 p {
    margin: 0;
    padding: 3em;
}

.div5 p a {
    color: white;
}
/*                                                                                                                                  Section 6*/
.div6 {
    display: flex;
    border-bottom: 1px solid black;
}
.side1 {
    width: 50%;
    padding: 14em 5em 5em 5em;
}
.side2 {
    width: 50%;
}
.side2 img {
    max-width: 100%;
    height: 40vw;
}
.side1 h1 {
    font-size: auto;
    text-align: left;
    padding-left:0;
}
/*                                                                                                                                  Section 7*/
.div7 {
    display: flex;
    border-bottom: 1px solid black;
}
.div71 {
    width: 50%;
}
.div72 {
    width: 50%;
    padding: 18em 5em 5em 5em;
}
.img7 {
    max-width: 100%;
    max-height: 100%;
}
.div7 h1 {
    font-size: auto;
    text-align: left;
    padding-left:0;
}
/*                                                                                                                                  Section 8*/
.div81 {
    text-align: center;
    padding: 5em 20em 5em 20em;
}
.div8 {
    display: flex;
    border-bottom: 1px solid black;
    text-align: center;
    padding-bottom: 5em;
}
.ing1 {
    width: 7%;
    padding: 0em 5em 0em 8em;
}
.ing2 {
    width: 7%;
    padding: 0em 5em 0em 5em;
}
.ing3 {
    width: 7%;
    padding: 0em 5em 0em 5em;
}
.ing4 {
    width: 7%;
    padding: 0em 5em 0em 5em;
}
.ing5 {
    width: 7%;
    padding: 0em 5em 0em 5em;
}
.ing6 {
    width: 7%;
    padding: 0em 0em 0em 5em;
}
/*                                                                                                                                  Section 9*/
.div9 {
    background-image: url(images/banner1.png);
    background-repeat: no-repeat;
    border-bottom: 1px solid black;
    color: white;
}
.div91 {
    text-align: center;
    padding: 5em 10em 5em 10em;
}
.div91 p {
    margin-top: 0;
}
.div91 p a {
    color: white;
}
/*                                                                                                                                 Section 10*/
.div10 {
    display: flex;
    border-bottom: 1px solid black;
}
.rec1 {
    width: 50%;
}
.rec1 img {
    max-width: 100%;
    max-height: 100%;
}
.rec2 {
    width: 50%;
    padding: 15em 0em 0em 5em;
}
.rec2 h1 {
    text-align: left;
}
/*                                                                                                                                 Section 11*/
.div11 {
    background-image: url(images/banner1.png);
    background-repeat: no-repeat;
    border-bottom: 1px solid black;
    color: white;
}
.div111 {
    text-align: center;
    padding: 5em 10em 5em 10em;
}
.div111 p {
    margin-top: 0;
}
.div111 p a {
    color: white;
}
/*                                                                                                                                  Section 12*/
.div12 {
    display: flex;
    border-bottom: 1px solid black;
}
.find1 {
    width: 50%;
    padding: 15em 0em 0em 10em;
}
.find1 h1 {
    text-align: left;
}
.find2 {
    width: 50%;
}
.find2 img {
    max-width: 100%;
    max-height: 100%;
}
/*                                                                                                                                  Section 13*/
.div13 {
    border-bottom: 1px solid black;
    padding-top: 3em;
    padding-bottom: 3em;
}
/*                                                                                                                                  Section 14*/
.div14 {
    
}
.photoline1 {
    display: flex;
}
.photoline2 {
    display: flex;
}
.smimg {
    max-width: 100%;
    max-height: 100%;
}
/*                                                                                                                                      Footer*/
footer{
    background-color: black;
    color: white;
}
.info {
    display: flex;
}
.sub {
    height: 300px;
    width: 50%
}
.col1 {
    width: 16.6666%;
    height: 300px;
}
.col2 {
    width: 16.6666%;
    height: 300px;
}
.col3 {
    width: 16.6666%;
    height: 300px;
}
.privacy {
    height: 100px;
}

input {
    border: 1px solid white;
    padding: 2em 5em 2em 2em;
    width: 15vw;
    font-family: var(--font-reg);
    color: white;
    background-color: black;
    font-size: 1em;
}

footer {
    padding: 5em 8em 1.5em;
}
.sm {
    display: flex;
    padding-top: 1em;
}
.icons {
    width: 2vw;
}

@media (max-width: 600px) {
    body, main, #head {
      
      width: 100%;
      margin: 1em;
    }

  }